#dojo1 {
    width: 400px;
    height: 200px;
    background-color: grey;
    display: flex;
}
#dojo2 {
    width: 400px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    display: flex;
}
#dojo3 {
    width: 400px;
    height: 200px;
    background-color: rgb(234, 255, 0);
    display: flex;
}